.detailsContainer {
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  transition: background-image 1s;
  background-size: cover;
  background-position: center center;
}

.detailsInfo {
  color: white;
  text-align: center;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(75%) saturate(70%) blur(4px);
}