.favContainer {
  backdrop-filter: blur(5px) saturate(80%);
  animation: fadeIn;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0, 0, 0.1, 1)
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(2px);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.favorites {
  text-align: center;
  color: white;
  text-shadow: #0009 1px 1px 10px;
  margin-top: 80px;
}

.favorites a {
  text-decoration: none;
  color: white;
  transition: text-shadow 1s;
}

.favorites a:hover {
  text-shadow: #4449 1px 1px 10px;
  transition: text-shadow 0.5s;
}