.navBar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0002;
  backdrop-filter: blur(10px);
  border-bottom: 3px groove #FFF1;
}

.navBar a {
  border-radius: 20px;
  padding: 5px 10px;
  margin: auto 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: #0009 1px 1px 10px;
  font-size: 1.3rem;
  transition: background-color 0.7s, text-shadow 1.2s;
}

.navBar a:hover {
  text-shadow: #000 1px 2px 15px;
  transition: text-shadow 0.3s;
}

.active {
  background-color: #0002;
  transition: background-color 1s;
}
