.navBar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0002;
  backdrop-filter: blur(10px);
}

.navBar a {
  border-radius: 20px;
  padding: 5px 10px;
  margin: auto 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: #0009 1px 1px 10px;
  font-size: 1.3rem;
  transition: background-color 0.7s, text-shadow 0.5s;
}

.navBar a:hover {
  text-shadow: #000 1px 1px 15px;
}

.active {
  background-color: #0002;
  transition: background-color 1s;
}
