.NavBar {
  height: 80px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  height: 20px;
  width: 400px;
}

.searchButton {
  height: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 56px;
}