.recipesContainer {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw;
  grid-template-rows: 25vh 25vh 25vh;
  gap: 0 5vw;
  justify-content: center;
  align-items: center;
}

.pagesList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagesList li {
  font-weight: bold;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 99px;
  width: 20px;
  text-align: center;
  transition: background-color 0.5s, text-shadow 0.3s;
}

.pagesList li:hover {
  background-color: #4444;
  text-shadow: #000 1px 1px 15px;
}

/* ↓ estilo para el botón activo de la lista de páginas*/
.pagesList li.active {
  background-color: #0004;
  transition: background-color 0.5s, text-shadow 0.3s;
}