.recipeCardContainer {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  background-position: center;
  background-size: cover;
}

.recipeCardContainer a {
  text-decoration: none;
  height: 100%;
}

.recipeCardInfo {
  margin: 1em 3em;
  font-size: 1.1rem;
  width: 100%;
  color: white;
  text-align: center;
  backdrop-filter: blur(2px);
  background-color: #4442;
}

.diets {
  font-size: 15px;
  overflow-y: hidden;
}