.searchBarContainer {
  margin-top: 60px;

  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000;
}

.searchBar {
  align-items: center;
}

.searchBarInput {
  height: 20px;
  width: 400px;
  padding: 4px;
  padding-left: 8px;
  border: none;
}

.searchBarInput:active, .searchBarInput:focus, .order:active, .order:focus {
  outline: none
}

.refresh {
  position: relative;
  top: 10px;
  margin-right: 10px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 99px;
  width: 1.5em;
  height: 1.5em;
  transition: background-color 1s;
}

.refresh:hover {
  background-color: #0002;
  transition: background-color 0.3s, transform 1s;
  transform: rotate(360deg);
}

.searchButton {
  border-radius: 4px;
  height: 18px;
  width: 18px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 26px;
  top: 8px;
  padding: 3px;
  background-color: #0003;
  color: white;
  transition: background-color 1s;
}

.searchButton:hover {
  background-color: #00000055;
  transition: background-color 0.3s;
}

.order {
  margin-left: 10px;
  border-radius: 5px;
  padding: 3px;
  border: none;
}

.filterDiets {
  padding: 10px;
}

.filterDiets label {
  padding-left: 15px;
}