.searchBarContainer {
  margin-top: 60px;

  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000;
}

.searchBar {
  align-items: center;
}

.searchBarInput {
  height: 20px;
  width: 400px;
}

.refresh {
  margin-right: 20px;
}

.searchButton {
  height: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 56px;
}

.filterDiets {
  padding: 10px;
}

.filterDiets label {
  padding-left: 15px;
}